<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Stefano Collovati - Personal Website"/>
    <meta name="keywords" content="Stefano Collovati Learning Technologist"/>

    <title>Stefano Collovati - Learning Technologist</title>

    <link href="assets/style.css" rel="stylesheet" type="text/css">

    <script language="javascript" type="text/javascript" src="libs/p5.js"></script>
    <script language="javascript" type="text/javascript" src="assets/sketch.js"></script>
    <script src="https://use.fontawesome.com/3df6521563.js"></script>
</head>

<body>
<article>
    <h1>I&rsquo;ll be back soon!</h1>
    <div>
        <p>Sorry for the inconvenience but I&rsquo;m performing some maintenance at the moment.</p>
        <p>Meanwhile, take a look at my projects on <a href="https://gitlab.com/scollovati">GitLab<i class="fa fa-gitlab" aria-hidden="true"></i></a> or <a href="https://github.com/scollovati">GitHub<i class="fa fa-github" aria-hidden="true"></i></a>.<br/>
        You can find my professional Curriculum Vitae on <a href="https://www.linkedin.com/in/scollovati">Linkedin <i class="fa fa-linkedin" aria-hidden="true"></i></a>.</p>
    </div>
    <div>
        <!--
        <p>If you need to you can always <a href="mailto:info@stefanocollovati.it">contact me</a>!</p>
        -->
        <p>&mdash; Stefano</p>
    </div>
    <div id='myContainer'></div>
</article>
</body>
